body {background-color: #FFFFFF;
    color: #666666;
    background-image: url(images/ptrbackground.jpg);
    font-family: "arial", sans-serif;}
#herohome {background-image: url(images/coasthero.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 190px;}
#heroactivites {background-image: url(images/trailhero.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 190px;}
#heroyurt {background-image: url(images/yurthero.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 190px;}
header {background-color: #000033;
    color: #FFFFFF;
    background-image: url(images/sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;}
header, main, nav, footer, figure, figcaption, aside, section, article {
  display: block;
}
#nav {font-weight: bold; 
     padding: 15px 15px 15px 15px;
     float: left;
    width: 160px;
    font-size: 1.2em;}
#nav ul {list-style-type: none; 
    margin: 0;
    padding-left: 0;}
#nav a {text-decoration: none;}
#nav a:link{color: #000033;}
#nav a:visited{color:#344873;}
#nav a:hover{color: #FFFFFF;}
h1 { margin-bottom: 0;
    padding: 10px;
    font-family: "Georgia", sans-serif; }
h2 {color: #3399CC;
    text-shadow: 1px 1px 1px #666666;
    font-family: "Georgia", sans-serif; }
.resort {color: #5C7FA3;
    font-weight: bold;}
h3 {color: #000033;
    font-family: "Georgia", sans-serif; }
#wrapper { margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 960px;
    background: #90C7E3 ; 
    box-shadow: 5px 5px 5px #000033; } 
ul { list-style-image: url(images/marker.gif); }
footer {text-align: center; 
        font-size: 75%; 
        font-style: italic; 
        font-family: "Times New Roman", serif; 
        padding: 20px; 
        margin-left: 190px;
        background: #FFFFFF;}
#contact {font-size: 90%;}
main {padding-top: 1px; padding-left: 30px; padding-right: 20px; padding-bottom: 20px;
    margin-left: 190px;
background: #FFFFFF }
#gallery {height: 200px;
    position: relative;}
#gallery img {
padding: 0px 0px 0px 0px; 
float: none;}
#placeholder { position: absolute;
    top: 15px; left: 320px; opacity: .25;}
#gallery a:hover span {display: block; position: relative; top: 15px; left: 320px; text-align: center;}
#gallery span {display: none;}
#gallery li {display: inline; float: left; padding: 10px;}
#gallery ul {width:250px; list-style-type: none;}

